.page-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    /* Adjust 64px if your toolbar is different */
}

.loading-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 18px;
}