.page-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    /* Adjust 64px if your toolbar is different */
}

.loading-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead-info {
    display: flex;
    gap: 40px;
    margin: 16px 0;
    font-size: 14px;
    align-items: center;
    flex-wrap: wrap;
}

.error-message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 18px;
}